DISCORD_TOKEN=your bot token here from discord dev portal
DATABASE_PATH=./data/bot-database.json
MANAGEMENT_GUILD_ID=Your guild id here
MANAGEMENT_GUILD_ADMIN_USER_ID=your user id here (must be on the server above)
BOT_ID=your bot id here from discord dev portal
